
    <header class="nav-container">
      <nav class="sina-nav mobile-sidebar navbar-fixed" data-top="60">
          <div class="container">

              <div class="extension-nav">
                  <ul class="pt-2">
                      <li>
                          <a id="loginbtn" href="Login.html" class="btn btn-link p-1 ml-2">
                              <img src="../assets/Images/Svg/login.svg" /> ورود
                          </a>
                      </li>
                      <li>
                          <a id="loginbtn" href="Register.html" class="btn btn-link p-1 ml-2">
                              <img src="../assets/Images/Svg/user.svg" />ثبت نام
                          </a>
                      </li>
                  </ul>
              </div>
              <div class="sina-nav-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                      <i class="fa fa-bars"></i>
                  </button>
                  <a class="sina-brand pl-4" href="Index.html">
                      <img src="../assets/Images/logo.png" class="img-fluid" />
                  </a>
              </div>

              <div class="collapse navbar-collapse" id="navbar-menu">
                  <ul class="sina-menu sina-menu-center IRANSansWeb">
                      <li><a href="Index.html">صفحه اصلی</a></li>
                      <li><a href="Blog.html">وبلاگ</a></li>
                      <li><a href="Reservationlist.html">جستجوی پیشرفته</a></li>
                      <li><a href="Reservation.html">رزرو ملاقات</a></li>
                      <li><a href="Faq.html">پرسش و پاسخ</a></li>
                      <li><a href="AboutUs.html">درباره ما</a></li>
                      <li><a href="ContactUs.html">ارتباط با ما</a></li>
                  </ul>
              </div>
          </div>
      </nav>
  </header>


  <section id="above-page" class="container-fluid mb-sm-5 mb-3 ">
      <div class="above-page-img">
          <img src="../assets/Images/bg1.jpg" alt="" title="">
      </div>
      <div class="container">
          <div class="row">
              <div class="above-page-content m-auto">
                  <div class="above-page-tagline">
                      <h1 class="main-tagline IRANSansWeb_Bold">جامع ترین سامانه مشـاوره آنلاین</h1>
                      <p class="explaine-tagline">
                          <span>با بیش از 480 کارشناس در 60 تخصص به صورت </span>
                          <span class="rw-words rw-words-1">
                              <span>متنی</span>
                              <span>صوتی</span>
                              <span>تلفنی</span>
                              <span>متنی</span>
                              <span>صوتی</span>
                              <span>تلفنی</span>
                          </span>
                          <span>گفتگو کنید</span>
                      </p>
                  </div>
                  <div class="above-page-search">
                      <input type="text" class="srch-input" placeholder="جستجوی کارشناس، تخصص .." />
                      <a href="#" class="search-icon">
                          <i class="fas fa-search text-danger fa-2x"></i>
                      </a>
                  </div>
                  <div class="last-question-time">
                      <div class="last-question-time-detail">
                          <i class="fas fa-history text-white fa-2x"></i>
                          <span class="IRANSansWeb_Medium">گفتگوی سریع و راحت با کارشناسان و متخصصین در هر زمان و مکان</span>
                      </div>
                      <!--<span>آخرین مشاوره دریافت شده در تخصص <a href="#"> پوست و مو</a></span>-->
                  </div>

              </div>
          </div>
      </div>
  </section>


  <section class="container py-3 py-sm-3 ">
      <h5 class="IRANSansWeb_Medium bt-color text-center">چه خدماتی به شما ارائه می دهیم؟</h5>
      <div class="row  mt-4 mx-1">
          <div class="col-lg-3 col-md-6 mb-3">
              <div class="value-body d-flex flex-column text-center">
                  <img src="../assets/Images/Svg/wallet.svg" />
                  <div class="p-3">
                      <h6 class="IRANSansWeb_Medium">طراحی استاندارد</h6>
                      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-3">
              <div class="value-body d-flex flex-column text-center">
                  <img src="../assets/Images/Svg/wallet.svg" />
                  <div class="p-3">
                      <h6 class="IRANSansWeb_Medium">رنگبندی مناسب</h6>
                      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است.  </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-3">
              <div class="value-body d-flex flex-column text-center">
                  <img src="../assets/Images/Svg/wallet.svg" />
                  <div class="p-3">
                      <h6 class="IRANSansWeb_Medium">طراحی واکنشگرا</h6>
                      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-3">
              <div class="value-body d-flex flex-column text-center">
                  <img src="../assets/Images/Svg/wallet.svg" />
                  <div class="p-3">
                      <h6 class="IRANSansWeb_Medium">زیبا و چشم نواز</h6>
                      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. </p>
                  </div>
              </div>
          </div>
      </div>
  </section>


  <section class="container mt-3 p-4 ">
      <h5 class="IRANSansWeb_Medium bt-color text-center mb-4">گفتگو و مشاوره با بهترین کارشناسان</h5>
      <!--<p class="text-center">بیش از 340 پزشک آماده پاسخگویی به شما هستند</p>-->
      <a href="Reservationlist.html">
          <div class="row box-transform">
              <div class="col-lg-12 value-body text-center mb-3 p-3">
                  <div class="row">
                      <div class="col-md-3 pt-3 pr-3">
                          <p>گفتگو و مشاوره با  <b class="IRANSansWeb_Medium">پزشکان سلامت</b></p>
                      </div>
                      <div class="col-md-7 px-3">
                          <ul class="Consulation-list">

                              <li>
                                  <i class="online"></i>
                                  <img src="../assets/Images/11.jpg" class="rounded-circle img-fluid" />
                              </li>
                              <li>
                                  <i class="online"></i>
                                  <img src="../assets/Images/12.jpg" class="rounded-circle img-fluid" />
                              </li>
                              <li>
                                  <i class="online"></i>
                                  <img src="../assets/Images/10.jpg" class="rounded-circle img-fluid" />
                              </li>
                              <li>
                                  <i class="online"></i>
                                  <img src="../assets/Images/11.jpg" class="rounded-circle img-fluid" />
                              </li>
                              <li>
                                  <i class="online"></i>
                                  <img src="../assets/Images/10.jpg" class="rounded-circle img-fluid" />
                              </li>
                          </ul>
                      </div>
                      <div class="col-md-2 pt-3 pr-3">
                          <span class="IRANSansWeb_Light">+951 مشاور دیگر .. &nbsp;</span>
                          <i class="fas fa-chevron-left"></i>
                      </div>
                  </div>
              </div>
          </div>
      </a>
      <a href="Reservationlist.html">
          <div class="row box-transform">
              <div class="col-lg-12 value-body text-center mb-3 p-3">
                  <div class="row">
                      <div class="col-md-3 pt-3 pr-3">
                          <p>گفتگو و مشاوره با  <b class="IRANSansWeb_Medium">وکلای دادگستری</b></p>
                      </div>
                      <div class="col-md-7 px-3">
                          <ul class="Consulation-list">
                              <li>
                                  <i class="online"></i>
                                  <img src="../assets/Images/12.jpg" class="rounded-circle img-fluid" />
                              </li>
                              <li>
                                  <i class="online"></i>
                                  <img src="../assets/Images/11.jpg" class="rounded-circle img-fluid" />
                              </li>

                              <li>
                                  <i class="online"></i>
                                  <img src="../assets/Images/12.jpg" class="rounded-circle img-fluid" />
                              </li>
                              <li>
                                  <i class="online"></i>
                                  <img src="../assets/Images/11.jpg" class="rounded-circle img-fluid" />
                              </li>
                              <li>
                                  <i class="online"></i>
                                  <img src="../assets/Images/12.jpg" class="rounded-circle img-fluid" />
                              </li>
                              <li>
                                  <i class="online"></i>
                                  <img src="../assets/Images/12.jpg" class="rounded-circle img-fluid" />
                              </li>
                              <li>
                                  <i class="online"></i>
                                  <img src="../assets/Images/11.jpg" class="rounded-circle img-fluid" />
                              </li>

                          </ul>
                      </div>
                      <div class="col-md-2 pt-3 pr-3">
                          <span class="IRANSansWeb_Light">+781 مشاور دیگر .. &nbsp;</span>
                          <i class="fas fa-chevron-left"></i>
                      </div>
                  </div>
              </div>
          </div>
      </a>
      <a href="Reservationlist.html">
          <div class="row box-transform">
              <div class="col-lg-12 col-md-12 value-body text-center mb-3 p-3">
                  <div class="row">
                      <div class="col-md-3 pt-3 pr-3">
                          <p>گفتگو و مشاوره با  <b class="IRANSansWeb_Medium">مهندسین</b></p>
                      </div>
                      <div class="col-md-7 px-3">
                          <ul class="Consulation-list">
                              <li>
                                  <i class="online"></i>
                                  <img src="../assets/Images/10.jpg" class="rounded-circle img-fluid" />
                              </li>
                              <li>
                                  <i class="online"></i>
                                  <img src="../assets/Images/11.jpg" class="rounded-circle img-fluid" />
                              </li>
                              <li>
                                  <i class="online"></i>
                                  <img src="../assets/Images/12.jpg" class="rounded-circle img-fluid" />
                              </li>
                              <li>
                                  <i class="online"></i>
                                  <img src="../assets/Images/14.jpg" class="rounded-circle img-fluid" />
                              </li>
                              <li>
                                  <i class="online"></i>
                                  <img src="../assets/Images/11.jpg" class="rounded-circle img-fluid" />
                              </li>
                              <li>
                                  <i class="online"></i>
                                  <img src="../assets/Images/10.jpg" class="rounded-circle img-fluid" />
                              </li>
                          </ul>
                      </div>
                      <div class="col-md-2 pt-3 pr-3">
                          <span class="IRANSansWeb_Light">+561 مشاور دیگر .. &nbsp;</span>
                          <i class="fas fa-chevron-left"></i>
                      </div>
                  </div>
              </div>
          </div>
      </a>
  </section>



  <section class="container my-4">
      <div id="foottop" class="row p-3 value-body grad-bg text-center">
          <div class="col-md-4 d-flex flex-sm-row  flex-wrap flex-column float-left text-md-left text-center">
              <a href="#"><img src="../assets/Images/logo2.png" /></a><br />
          </div>
          <div class="col-md-8 pt-3 d-flex flex-md-row flex-wrap flex-column text-md-right text-center">
              <span class="mb-2 pl-3 IRANSansWeb_Medium text-white">نیاز به راهنمایی دارید؟</span>
              <a href="#" class="rounded-btn text-white support-phone IRANSansWeb_Bold">021-2547896 __ 09305733699</a>
          </div>
      </div>
  </section>


  <section class="container mt-5">
      <h5 class="IRANSansWeb_Medium text-center bt-color">نظرات کاربران</h5>
      <!--<p class="text-md-right text-center"> آنچه شما درباره مشاوره آنلاین گفته اید</p>-->
      <div id="owl-Comments" class="owl-carousel owl-theme text-right ">
          <div class="card p-4">
              <a href="#">
                  <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است.  </p>
                  <h6 class="IRANSansWeb_Medium">محیا رائض</h6>
                  <div>
                      <span>امتیاز به کارشناس :</span>
                      <span>
                          <i class="fas fa-star text-warning"></i>
                          <i class="fas fa-star  text-warning"></i>
                          <i class="fas fa-star  text-warning"></i>
                      </span><br />
                      <span>98/12/16</span>
                  </div>
              </a>
          </div>
          <div class="card  p-4">
              <a href="#">
                  <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است.  </p>
                  <h6 class="IRANSansWeb_Medium">محیا رائض</h6>
                  <div>
                      <span>امتیاز به متخصص :</span>
                      <span>
                          <i class="fas fa-star text-warning"></i>
                          <i class="fas fa-star  text-warning"></i>
                          <i class="fas fa-star  text-warning"></i>
                      </span><br />
                      <span>98/12/16</span>
                  </div>
              </a>
          </div>
          <div class="card  p-4">
              <a href="#">
                  <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است.  </p>
                  <h6 class="IRANSansWeb_Medium">محیا رائض</h6>
                  <div>
                      <span>امتیاز به کارشناس :</span>
                      <span>
                          <i class="fas fa-star text-warning"></i>
                          <i class="fas fa-star  text-warning"></i>
                          <i class="fas fa-star  text-warning"></i>
                      </span><br />
                      <span>98/12/16</span>
                  </div>
              </a>
          </div>
          <div class="card  p-4">
              <a href="#">
                  <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است.  </p>
                  <h6 class="IRANSansWeb_Medium">محیا رائض</h6>
                  <div>
                      <span>امتیاز به متخصص :</span>
                      <span>
                          <i class="fas fa-star text-warning"></i>
                          <i class="fas fa-star  text-warning"></i>
                          <i class="fas fa-star  text-warning"></i>
                      </span><br />
                      <span>98/12/16</span>
                  </div>
              </a>
          </div>
          <div class="card  p-4">
              <a href="#">
                  <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است.  </p>
                  <h6 class="IRANSansWeb_Medium">محیا رائض</h6>
                  <div>
                      <span>امتیاز به کارشناس :</span>
                      <span>
                          <i class="fas fa-star text-warning"></i>
                          <i class="fas fa-star  text-warning"></i>
                          <i class="fas fa-star  text-warning"></i>
                      </span><br />
                      <span>98/12/16</span>
                  </div>
              </a>
          </div>
          <div class="card  p-4">
              <a href="#">
                  <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است.  </p>
                  <h6 class="IRANSansWeb_Medium">محیا رائض</h6>
                  <div>
                      <span>امتیاز به متخصص :</span>
                      <span>
                          <i class="fas fa-star text-warning"></i>
                          <i class="fas fa-star  text-warning"></i>
                          <i class="fas fa-star  text-warning"></i>
                      </span><br />
                      <span>98/12/16</span>
                  </div>
              </a>
          </div>

      </div>

  </section>


  <section class="container mt-5 ">
      <div class="row  value-body grad-bg text-center text-white">
          <div class="col-lg-3 col-md-6 p-3">
              <img src="../assets/Images/Svg/pin2.png" class="mb-3" />
              <h6 class="IRANSansWeb_Medium">طراحی واکنشگرا</h6>
              <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. </p>
          </div>
          <div class="col-lg-3 col-md-6 p-3">
              <img src="../assets/Images/Svg/list.png" class="mb-3" />
              <h6 class="IRANSansWeb_Medium">زیبا و چشم نواز</h6>
              <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. </p>
          </div>
          <div class="col-lg-3 col-md-6 p-3">
              <img src="../assets/Images/Svg/pin2.png" class="mb-3" />
              <h6 class="IRANSansWeb_Medium">رنگبندی مناسب</h6>
              <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است.  </p>
          </div>
          <div class="col-lg-3 col-md-6 p-3">
              <img src="../assets/Images/Svg/list.png" class="mb-3" />
              <h6 class="IRANSansWeb_Medium">طراحی استاندارد</h6>
              <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. </p>
          </div>
      </div>
  </section>


  <footer class="container-footer  mt-5">
      <section id="footer-content">
          <div class="container">
              <div class="row pt-4">
                  <div class="col-md-2  col-sm-4 col-6 py-3">
                      <h5 class="IRANSansWeb_Medium"> خدمات ما : </h5>
                      <ul>
                          <li>
                              <a href="Reservationlist.html" target="_blank" title="">جستجوی پیشرفته</a>
                          </li>
                          <li>
                              <a href="Reservation.html" target="_blank" title="">رزرو وقت </a>
                          </li>
                          <li>
                              <a href="Consultation.html" target="_blank" title="">مشاوره </a>
                          </li>
                          <li>
                              <a href="Blog.html" target="_blank" title="">وبلاگ</a>
                          </li>
                          <li>
                              <a href="Blogdetails.html" target="_blank" title="">جزئیات وبلاگ </a>
                          </li>
                      </ul>
                  </div>
                  <div class="col-md-2 col-sm-4 col-6  py-3">
                      <h5 class="IRANSansWeb_Medium"> صفحات ما : </h5>
                      <ul>
                          <li>
                              <a href="Faq.html" target="_blank" title="">سوالات متداول</a>
                          </li>

                          <li>
                              <a href="Login.html" target="_blank" title="">ورود</a>
                          </li>
                          <li>
                              <a href="Register.html" target="_blank" title="">عضویت</a>
                          </li>
                          <li>
                              <a href="AboutUs.html" target="_blank" title="">درباره ما</a>
                          </li>
                          <li>
                              <a href="ContactUs.html" target="_blank" title="">تماس با ما </a>
                          </li>
                      </ul>
                  </div>
                  <div class="col-md-3 col-sm-4 py-3">
                      <h5 class="IRANSansWeb_Medium">همراهان ما :</h5>
                      <a href="#" target="_blank"><img src="../assets/Images/Svg/Aparat.svg" class="p-3 img-fluid" /></a><br />
                      <a href="#" target="_blank"><img src="../assets/Images/Svg/filimo.svg" class="p-3 img-fluid" /></a><br />
                      <a href="#" target="_blank"><img src="../assets/Images/Svg/Aparat.svg" class="p-3 img-fluid" /></a>
                  </div>
                  <div class="col-md-5  py-3">
                      <h5 class="IRANSansWeb_Medium">دانلود اپلیکیشن : </h5>
                      <div>
                          <a href="#"><img src="../assets/Images/googleplay.png" class="p-2" /></a>
                          <a href="#"><img src="../assets/Images/bazar.png" class="p-2" /></a>
                      </div>

                      <div class="pt-5">
                          <h5 class="IRANSansWeb_Medium">گواهینامه ها :</h5>
                          <a href="#">
                              <img src="../assets/Images/etehadie.png" class="p-1" />
                          </a>
                          <a href="#">
                              <img src="../assets/Images/anjoman.png" class="p-1" />
                          </a>
                          <a href="#">
                              <img src="../assets/Images/etehadie.png" class="p-1" />
                          </a>
                          <a href="#">
                              <img src="../assets/Images/anjoman.png" class="p-1" />
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section id="footer-allright">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 text-center">
                      <a href="https://www.rtl-theme.com/author/shamim831/" class="text-white ">
                          کلیه حقوق این قالب برای طراح محفوظ می باشد - عرضه شده تنها در راست چین .
                      </a>
                  </div>
              </div>
          </div>
      </section>
  </footer>

<router-outlet></router-outlet>
