<div class="pattern">
    <span class="red"></span>
    <span class="indigo"></span>
    <span class="blue"></span>
    <span class="green"></span>
    <span class="orange"></span>
</div>
<div class="auth-main particles_js">
    <div class="auth_div vivify popIn">
        <div class="auth_brand">
            <a class="navbar-brand" href="javascript:void(0);"><img src="../../../assets/content/images/icon.svg" width="30" height="30" class="d-inline-block align-top mr-2" alt="">مرکز مشاوره مهرآوران</a>                                                
        </div>
        <div class="card">
            <div class="body">
                <p class="lead">ایجاد یک حساب کاربری</p>
                <form class="form-auth-small m-t-20">
                    <div class="form-group">
                        <input type="email" class="form-control round" placeholder="ایمیل شما">
                    </div>
                    <div class="form-group">                            
                        <input type="password" class="form-control round" placeholder="رمزعبور">
                    </div>
                    <button type="submit" class="btn btn-primary btn-round btn-block">ثبت نام</button>                                
                </form>
                <div class="separator-linethrough"><span>یا</span></div>
                <button class="btn btn-round btn-signin-social"><i class="fa fa-facebook-official facebook-color"></i> ورود به سیستم با فیس بوک</button>
                <button class="btn btn-round btn-signin-social"><i class="fa fa-twitter twitter-color"></i> ورود به سیستم با توییتر</button>
                <div class="bottom">
                    <span class="helper-text m-b-10"><i class="fa fa-lock"></i> <a href="page-forgot-password.html">رمز عبور را فراموش کرده اید؟</a></span>
                    <span>حساب کاربری دارید؟ <a [routerLink]="['/auth/login']">ورود</a></span>
                </div>
            </div>
        </div>
    </div>
    <div id="particles-js"></div>
</div>
<!-- END WRAPPER -->
